<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">2020.05 Initiation construite pour être multipliée.<span class="small"><br>Création de la base par Olivier Macaud<br><a href="https://vogonselectriques.net" target="_blank">OM vu par le Module 104 ou l'inverse.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.06.10</div>
        </div>
  </div>
</footer>
