{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/styles/layout.css') }}">
<body id="top">
<div class="bgded overlay" style="background-image:url('../static/images/demo/backgrounds/01.jpg');">
  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">gestion de la consommation</h3>
      <p>Module 104 - Implémenter un modèle de données</p>
      <p class="font-x1 uppercase bold">Samuel Da Mata Romao</p>
      <footer><a class="btn" href="{{ url_for('personne_add') }}">Crée une personne</a></footer>
    </article>
  </div>
</div>
<!-- JAVASCRIPTS -->
<script src="{{ url_for('static', filename='layout/scripts/jquery.mobilemenu.js') }}"></script>
<script src="{{ url_for('static', filename='layout/scripts/jquery.min.js') }}"></script>
</body>
{% endblock %}