{% extends "base.html" %}
{% block title %}DELETE VEHICULE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce vehicule.
			</p>
			<form method="POST" action="{{ url_for('vehicule_reservoir_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id du vehicule
                            </th>
                            <th>
                                id du plein
                            </th>
                            <th>
                                Date du remplissage (YYYY-MM-DD)
                            </th>
                            <th>
                                Type de carburant
                            </th>
                            <th>
                                Litre
                            </th>
                            <th>
                                Kilomètre
                            </th>
                            <th>
                                Prix du vehicule
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly="readonly" name="FK_vehicule_delete" value="{{ row.FK_Vehicule }}"/>
                                </td>
                                <td>
                                    <input readonly="readonly" name="id_reservoir_delete" value="{{ row.id_Reservoir }}"/>
                                </td>
                                <td>
                                    {{ row.DateRemplissage }}
                                </td>
                                <td>
                                    {{ row.TypeCarburant }}
                                </td>
                                <td>
                                    {{ row.LitresCarburant }} L
                                </td>
                                <td>
                                    {{ row.Kilometre }} KM
                                </td>
                                <td>
                                    {{ row.PrixCarburant }} CHF
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
