{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
    <table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Vehicule
						</th>
                        <th class="" >
						  Id
						</th>
						<th class="" >
						  Date du remplissage (YYYY-MM-DD)
						</th>
						<th class="" >
						  Type de carburant
						</th>
						<th class="" >
						  Litre
						</th>
                        <th class="" >
						  Kilomètre ({% for row in dataTKilometre %}
                                    {{ row.TotalKilometre }} Km
                                    {% endfor %})
						</th>
                        <th class="" >
						  Prix CHF
						</th>
                        <th class="" >
						  Prix total
                            {% for row in dataTPrix %}
                                <h3>{{ row.TotalPrix }} CHF</h3>
                            {% endfor %}
						</th>

					</tr>
				</thead>
			{% endif %}
			{% for row in data %}

			<tbody>
				<tr>
						<td class="align-middle">
							{{ row.NomVehicule }}
						</td>
                    <td class="align-middle" >
							{{ row.id_Reservoir }}
						</td>
                    <td class="align-middle" >
							{{ row.DateRemplissage }}
						</td>
                    <td class="align-middle">
							{{ row.TypeCarburant }}
						</td>
                    <td class="align-middle">
							{{ row.LitresCarburant }} L
						</td>
                    <td class="align-middle">
							{{ row.Kilometre }} km
						</td>
                    <td class="align-middle">
							{{ row.PrixCarburant }} CHF
						</td>
                <td class="align-middle">

						</td>

                    <td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('vehicule_reservoir_select_delete', id_reservoir_delete=row.id_Reservoir, FK_vehicule_delete=row.id_Vehicule) }}" role="button">Effacer</a>
						</td>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun Plein.
						</td>
						<td>

						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
