{% extends "base.html" %}
{% block title %} AJOUTER VEHICULE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau VEHICULE
			</p>
			<form method="POST">
				<div class="form-group">
                    <label for="Type_carburant">
						Type de carburant
					</label>
					<input type ="text" class="form-control" name="name_typecarb_html" />

					<label for="Litre_carburant">
						Litre rempli
					</label>
					<input type ="number" class="form-control" name="name_litrecarb_html" />

                    <label for="kilometre">
						Kilometre effectuer (depuis l'ancien plein)
					</label>
					<input type ="number" class="form-control" name="name_kilometre_html" />

                    <label for="Prix_carburant">
						Prix
					</label>
					<input type ="number" class="form-control" name="name_prixcarb_html" />


				</div>
				<button type="submit" class="btn btn-primary">
					Ajouter le plein
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
