{% extends "base.html" %}
{% block title %} Afficher VEHICULE {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Véhicule à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter un vehicule</a>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Surnom du vehicule
                        </th>
                        <th class="align-middle">
                            Marque du vehicule
                        </th>
                        <th class="align-middle">
                            Modéle du vehicule
                        </th>
                        <th class="align-middle">
                            Année du vehicule
                        </th>
                        <th class="align-middle">
                            Prix du vehicule
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Reservoir }}
						</td>
                        <td class="align-middle">
							{{ row.TypeCarburant }}
						</td>
						<td class="align-middle">
							{{ row.LitresCarburant }}
						</td>
                        <td class="align-middle">
							{{ row.PrixCarburant }}
						</td>
                        <td class="align-middle">
							{{ row.Kilometre }}
						</td>
                        <td class="align-middle">
							{{ row.DateRemplissage }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('films_afficher') }}" role="button">Ajouter plein</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genres_edit', id_genre_edit_html=row.id_Vehicule) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genres_select_delete', id_genre_delete_html=row.id_Vehicule) }}" role="button">Delete</a>
						</td>
                        <td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_select_delete', id_genre_delete_html=row.id_Vehicule) }}" role="button">Voir</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun genre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

