{% extends "base.html" %}
{% block title %}Edit Vehicule{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier ce vehicule.
			</p>
			<form method="POST" action="{{ url_for('genres_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id vehicule
                            </th>
                            <th>
                                Surnom du vehicule
                            </th>
                            <th>
                                Marque du vehicule
                            </th>
                            <th>
                                Modèle du vehicule
                            </th>
                            <th>
                                Année du vehicule
                            </th>
                            <th>
                                Prix du vehicule
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly="readonly" name="id_genre_edit_html" value="{{ row.id_Vehicule }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_nomvehicule_html" value="{{ row.NomVehicule }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_marquevehicule_html" value="{{ row.MarqueVehicule }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_modelevehicule_html" value="{{ row.ModeleVehicule }}"/>
                                </td>
                                <td>
                                    <input type = "number" name = "name_edit_anneevehicule_html" value="{{ row.AnneeVehicule }}"/>
                                </td>
                                <td>
                                    <input type = "number" name = "name_edit_prixvehicule_html" value="{{ row.PrixVehicule }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
