{% extends "base.html" %}
{% block title %} AJOUTER VEHICULE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau VEHICULE
			</p>
			<form method="POST">
				<div class="form-group">
                    <label for="Marque_vehicule">
						Surnom du vehicule
					</label>
					<input type ="text" class="form-control" name="name_nomvehicule_html" />
					<label for="Nom_vehicule">
						Marque du vehicule
					</label>
					<input type ="text" class="form-control" name="name_marquevehicule_html" />

                    <label for="Modele_vehicule">
						Modèle du vehicule
					</label>
					<input type ="text" class="form-control" name="name_modelevehicule_html" />

                    <label for="Annee_vehicule">
						Année du vehicule
					</label>
					<input type ="number" class="form-control" name="name_anneevehicule_html" />

                    <label for="Prix_vehicule">
						Prix du vehicule
					</label>
					<input type ="number" class="form-control" name="name_prixvehicule_html" />

				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le vehicule
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
