{% extends "base.html" %}
{% block title %}DELETE VEHICULE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer ce vehicule.
			</p>
			<form method="POST" action="{{ url_for('genres_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id du vehicule
                            </th>
                            <th>
                                Surnom du vehicule
                            </th>
                            <th>
                                Marque du vehicule
                            </th>
                            <th>
                                Modèle du vehicule
                            </th>
                            <th>
                                Année du vehicule
                            </th>
                            <th>
                                Prix du vehicule
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly="readonly" name="id_genre_delete_html" value="{{ row.id_Vehicule }}"/>
                                </td>
                                <td>
                                    {{ row.NomVehicule }}
                                </td>
                                <td>
                                    {{ row.MarqueVehicule }}
                                </td>
                                <td>
                                    {{ row.ModeleVehicule }}
                                </td>
                                <td>
                                    {{ row.AnneeVehicule }}
                                </td>
                                <td>
                                    {{ row.PrixVehicule }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
