{% extends "base.html" %}
{% block title %} Afficher VEHICULE {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Véhicule à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id du vehicule
                        </th>
                        <th class="align-middle">
                            Surnom du vehicule
                        </th>
                        <th class="align-middle">
                            Marque du vehicule
                        </th>
                        <th class="align-middle">
                            Modéle du vehicule
                        </th>
                        <th class="align-middle">
                            Année du vehicule
                        </th>
                        <th class="align-middle">
                            Prix du vehicule
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Vehicule }}
						</td>
                        <td class="align-middle">
							{{ row.NomVehicule }}
						</td>
						<td class="align-middle">
							{{ row.MarqueVehicule }}
						</td>
                        <td class="align-middle">
							{{ row.ModeleVehicule }}
						</td>
                        <td class="align-middle">
							{{ row.AnneeVehicule }}
						</td>
                        <td class="align-middle">
							{{ row.PrixVehicule }}
						</td>
                        <td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genres_edit', id_genre_edit_html=row.id_Vehicule) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genres_select_delete', id_genre_delete_html=row.id_Vehicule) }}" role="button">Effacer</a>
						</td>
                        <td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('vehicule_reservoir_add', id_film_sel_html=row.id_Vehicule) }}" role="button">Ajouter un plein</a>
						</td>
                        <td class="text-center" class="align-middle">
							<a class="btn btn-secondary" href="{{ url_for('vehicule_reservoir_afficher_concat', id_film_sel=row.id_Vehicule) }}" role="button">Voir les pleins</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun vehicule.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

