{% extends "base.html" %}
{% block title %} CRUD SUR LES FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>
				BZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
			</h3>
			<p>
                ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
			</p>
		</div>
	</div>
</div>
{% endblock %}

