{% extends "base.html" %}
{% block title %} Afficher Personnes {% endblock %}
{% block body %}
<div class="container">
		<div class="col-md-12">
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom de la personne
                        </th>
                        <th class="align-middle">
                            Prénom de la personne
                        </th>
                        <th class="align-middle">
                            Date de naissance de la personne
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_Personne }}
						</td>
						<td class="align-middle">
							{{ row.NomPersonne }}
						</td>
						<td class="align-middle">
							{{ row.PrenomPersonne }}
						</td>
						<td class="align-middle">
							{{ row.DateNaissancePersonne}}
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Ajouter</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('personne_edit', id_personne_edit_html=row.id_Personne) }}" role="button">Edit</a>
						</td>
						<td class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('personne_select_delete', id_personne_delete_html=row.id_Personne) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('personne_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
</div>
{% endblock %}
