{% extends "base.html" %}
{% block title %}Edit personne{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette personne.
			</p>
			<form method="POST" action="{{ url_for('personne_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id personne
                            </th>
                            <th>
                                Nom personne
                            </th>
                            <th>
                                Prénom personne
                            </th>
                            <th>
                                Date de naissance personne
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly="readonly" name="id_personne_edit_html" value="{{ row.id_Personne }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_NomPersonne_html" value="{{ row.NomPersonne }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_PrenomPersonne_html" value="{{ row.PrenomPersonne }}"/>
                                </td>
                                <td>
                                    <input type = "date" name = "name_edit_DateNaissancePersonne_html" value="{{ row.DateNaissancePersonne }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
