{% extends "base.html" %}
{% block title %}DELETE PERSONNE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer cette personne.
			</p>
			<form method="POST" action="{{ url_for('personne_delete') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id personne
                            </th>
                            <th>
                                Nom personne
                            </th>
                            <th>
                                Prénom personne
                            </th>
                            <th>
                                Date de naissance personne
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly="readonly" name="id_personne_delete_html" value="{{ row.id_Personne }}"/>
                                </td>
                                <td>
                                    {{ row.NomPersonne }}
                                </td>
                                <td>
                                    {{ row.PrenomPersonne }}
                                </td>
                                <td>
                                    {{ row.DateNaissancePersonne }}
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit">EFFACER</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}