{% extends "base.html" %}
{% block title %} AJOUTER PERSONNE{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<p>
				Tapoter une nouvelle personne
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_personne">
						Nom perosnne
					</label>
					<input type ="text" class="form-control" name="name_nompersonne_html" />

                    <label for="Prenom_personne">
						Prénom perosnne
					</label>
                    <input type ="text" class="form-control" name="name_prenompersonne_html" />

                    <label for="DateNaissance_personne">
						Date de naissance personne
					</label>
                    <input type ="date" class="form-control" name="name_datenaissancepersonne_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer la personne
				</button>
			</form>
		</div>
    </div>
</div>
{% endblock %}