{% extends "base.html" %}
{% block title %} Afficher Personne {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id personne
						</th>
						<th class="" >
						  Nom de la personne
						</th>
						<th class="" >
						  Prénom de la personne
						</th>
						<th class="" >
						  Date de naissance de la personne
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.NomPersonne }}
					  </th>
					  <th class="align-middle">
						{{ row.PrenomPersonne }}
					  </th>
					  <th class="align-middle">
						{{ row.DateNaissancePersonne}}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_genre_film_selected', id_personne_vehicule_edit_html=row.id_Personne) }}" role="button">Ajouter/Enlever</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.PersonneVehicule|default("PAS DE VEHICULE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
